<! ––  # same as form in views/articles/new.html.erb, except `@article` replaced w/ `article` ––>

<! ––  # partial's filename must be prefixed with `_` (but w/o it when rendering) ––>

<%= form_with model: article do |form| %>

  <div class="new-article-form">
    <div>
      <%= form.label :title%><br>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :status, 'Update Status' %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>

    <div>
      <%= form.submit %>
    </div>

  </div>
<% end %>