<! –– # rendered via `def new` in `controllers/articles_controller.rb` ––>

<h1>Community Blog</h1>

<h2>New Article</h2>

<! –– # instantiate form builder (built-in process to create full html form) ––>

<%= form_with model: @article do |form| %>
  <div class='new-article-form'>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% @article.errors.full_messages_for(:title).each do |message| %>
        <div class="error-1"><%= message %>.</div>
      <% end %>
    </div>

    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% @article.errors.full_messages_for(:body).each do |message| %>
        <div class="error-2"><%= message %>.</div>
      <% end %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
