<! –– # rendered via `def new` in `controllers/articles_controller.rb` ––>

<h2>New Article</h2>

<! –– # instantiate form builder (built-in process to create full html form) ––>

<%= form_with model: @article do |form| %>
  <div class='new-article-form'>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title, :required => 'required' %>
    </div>

    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body, :required => 'required' %><br>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
