<! –– # rendered via `def index` in `controllers/articles_controller.rb` ––>
<h1>Community Blog</h1>

<h2><%= @article.title %></h2>

<div class='article-container'>

  <p><%= @article.body %></p>

  <ul class='article-actions'>

    <li><%= link_to "Edit", edit_article_path(@article) %></li>

    <li><%= link_to "Delete", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></li>

  </ul>
</div>


<! –– # display comments ––>

<section class='everything-comments'>
  <article class='comments-box'>
    <h3>Comments</h3>
    <% @article.comments.each do |comment| %>
      <article class='comment'>
        <p class='commenter'>
          <strong><%= comment.commenter %>:</strong>
        </p>

        <p class='comment-body'>
          <%= comment.body %>
        </p>
      </article>
    <% end %>
  </article>

  <! –– # add "create new comment" form (calls "CommentsController create action") ––>

  <! –– # `form_with` call uses an array, which will build a nested route, such as /articles/1/comments ––>
  <%= form_with model: [ @article, @article.comments.build ] do |form| %>

    <div class='add-comment-section'>
    
      <button>Add A Comment</button>

      <div class="comment-form">

        <p class='comment-input-container'>
          <%= form.label :commenter, 'Name' %><br>
          <%= form.text_field :commenter, :required => 'required' %>
        </p>
        <p class='comment-input-container'>
          <%= form.label :body, 'Comment' %><br>
          <%= form.text_area :body, :required => 'required' %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      </div>
    </div>

  <% end %>
</section>