<! –– # rendered via `def index` in `controllers/articles_controller.rb` ––>

<h1><%= link_to "Anonymous Community Blog", "/", :method => "get", class: "title" %></h1>

<h2><%= @article.title %></h2>

<div class='article-container'>

  <p class="article-p"><%= @article.body %></p>

  <p class='status'><%= @article.status %></p>

  <ul class='article-actions'>

    <li><%= link_to "Edit", edit_article_path(@article), :class => "article-links" %></li>

    <li><%= link_to "Delete", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, :class => "article-links"%></li>

  </ul>
</div>


<! –– # display comments ––>

<section class='everything-comments'>
  <article class='comments-box'>
    <h3>Comments</h3>

    <! –– # iterate over @article.comments collection in views/comments/_comment.html.erb, & assign each comment to local var w/ same name as partial (in this case "comment"), which is then available to show in partial ––>

    <%= render @article.comments %>
    
  </article>

  <! –– # define partial template to render (views/comments/form) ––>

  <%= render 'comments/form' %>

</section>

<! –– # javascript ––>

<script>
  const showCommentForm = () => {
    document.getElementById("commentForm").classList.remove("hidden");
    document.getElementById("addCommentBtn").classList.add("hidden");
  }
</script>